/* 1. look into absolute for overlay div
2. research how to make divs into hexagon

    cool stuff: DO LAST 
    note about headphones ajust for diff size screen
    include music
    background
    3D hexagons
    hexagons that flip */

#first-overlay {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid black;
}
#second-overlay {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid black;
}

.screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.title {
    display: flex;
    color: white;
    margin-bottom: 70px;
}
.title-hexagon {
    display: flex;
    align-items: center;
    margin-right: 15px;

}
.left0 {
    width: 0;
    height: 0;
    border-right: 15px solid #6c6;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}

.right0 {
    width: 0;
    height: 0;
    border-left: 15px solid #6c6;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
}

.middle0 {
    width: 30px;
    height: 52px;
    background-color: #6c6;
}

#scene {
    width: 120px;
    height: 104px; 
    perspective: 600px
}

.setOneHexagon {
    display: flex;
    margin: 3px;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.newHexagon {
    display: flex; /* will be switched to flex when called */
    margin: 3px;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.face-front {
    display: flex;
}
.face-back {
    display: flex;
}

/* each hexagon is made up of 3divs */
.left-front {
    width: 0;
    height: 0;
    border-right: 30px solid #6c6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.right-front {
    width: 0;
    height: 0;
    border-left: 30px solid #6c6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.middle-front {
    width: 60px;
    height: 104px;
    background-color: #6c6;
}

.left-back {
    width: 0;
    height: 0;
    border-right: 30px solid #66c;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.right-back {
    width: 0;
    height: 0;
    border-left: 30px solid #66c;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.middle-back {
    width: 60px;
    height: 104px;
    background-color: #66c;
}
/* hexagon done */

/* hexagon flower - 7 hexagons in 3 columns (2-3-2) */
#flowerOne {
    display: flex;
}

#flowerTwo {
    display: flex;
    margin-top: 55px;
}


.odd-col {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    margin-right: -30px;
}

.even-col {
    display: flex;
    flex-direction: column;
    margin-right: -30px;
}

#flowers {
    display: flex;
}

.pauses {
    position: fixed;
    text-align: center;
    display: none;
    animation: pulse 3s ease-in;
    font-size: 30px;
}

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.15, 1.15, 1.15);
    }
  
    60% {
        transform: scale3d(1, 1, 1);
        opacity: 0.5;
    }
    to {
      transform: scale3d(0.5, 0.5, 0.5);
      opacity: 0;
      display: none;
    }
  }

/* each hexagon flip */

